.process-card {
  background-color: var(--button-background-color);
  padding: 10px 5px 5px 10px;
  border-radius: 18px;
  display: flex;
  margin-bottom: 10px;
  height:80px;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.process-card.monitoring {
  background-color: var(--accent-color);
}

.process-card.disconnected {
  opacity: 0.5;
}

.process-status {
  font-size: 12px;
  font-weight: 200;
  color: var(--primary-text-color);
}

.process-name {
  font-size: 17px;
  font-weight: 600;
  flex-grow: 1;
}

.process-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.remove-button {
  background-color: var(--accent-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: var(--button-hover-color);
  box-shadow: 0 4px 6px var(--button-shadow-color), 0 0 10px magenta;
}
