:host {
  display: block;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  transition: background-color 0.3s ease-out;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  transition: background-color 0.3s ease-out;
  height: 5vh
}

.title {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px; /* Adjust height as needed */
  margin-right: 10px; /* Space between the logo and title text */
}

.title h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0; /* Remove default margin */
  color: var(--primary-text-color);
}

.toggle-button {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin-right: 10px;
  background-color: var(--button-background-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 4px var(--button-shadow-color);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.toggle-button mat-icon {
  margin: auto;
}

.toggle-button:hover {
  background-color: var(--accent-color);
  box-shadow: 0 4px 6px var(--button-shadow-color), 0 0 10px magenta;
}

main {
  display: flex;
  height :94vh;
}


app-options-view {
  min-width: 18vw;
}


app-log-view {
  min-width: 75%;
  width: 82%;
}
